@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap");

body {
  min-width: 1440px;
  margin: 0;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  background-color: #fffdf8;
}

.button {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 165px;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #ffffff;
  border-bottom: 1px solid #f5d581;
}

.page-header__logo-wrapper a,
.page-header__logo-wrapper img {
  display: block;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  padding: 10px 0;
  box-sizing: border-box;
}

.page-header__logo-wrapper {
  margin-right: auto;
  align-self: start;
}

.page-header__button {
  min-width: 191px;
  padding: 6px;
  font-weight: 400;
  background-color: inherit;
  border: 1px solid #9f7303;
}

.page-header__button:hover {
  background-color: #fffdf8;
}

.page-header__button:active {
  background-color: #fff7e3;
}

.menu-primary-comtainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-primary-comtainer .menu {
  display: flex;
  margin: 0;
  padding: 0 20px;
}

.menu-primary-comtainer a {
  padding: 6px 20px;
  color: inherit;
  text-decoration: none;
}

.menu-primary-comtainer .menu__item--has-children {
  position: relative;
}

.menu-primary-comtainer .menu__item--has-children a {
  padding-right: 37px;
}

.menu-primary-comtainer .menu__item--has-children::after {
  position: absolute;
  top: 9px;
  right: 13px;
  display: block;
  width: 13px;
  height: 9px;
  background-image: url("./img/menu-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.menu-primary-comtainer .sub-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 20px;
  flex-direction: column;
  min-width: 200px;
  padding-top: 12px;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.18),
    0 4px 8px rgba(97, 97, 97, 0.18);
}

.menu-primary-comtainer .menu__item--has-children:hover .sub-menu {
  display: flex;
}

.menu-primary-comtainer .sub-menu a {
  display: block;
  padding: 12px 16px;
  line-height: 22px;
}

.menu-primary-comtainer .sub-menu a:hover {
  color: #9f7303;
}

.promo {
  padding-top: 72px;
  padding-bottom: 72px;
}

.wysiwyg-wrapper h1 {
  width: 950px;
  margin: 0;
  margin-bottom: 32px;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.wysiwyg-wrapper h2 {
  width: 750px;
  margin: 0;
  margin-bottom: 56px;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #9f7303;
}

.wysiwyg-wrapper h3 {
  width: 750px;
  margin: 0;
  margin-bottom: 34px;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #9f7303;
}

.wysiwyg-wrapper p {
  margin: 0;
  margin-bottom: 32px;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  margin-bottom: 56px;
  padding-left: 27px;
}

.wysiwyg-wrapper ul {
  list-style-type: none;
}

.wysiwyg-wrapper li {
  position: relative;
  margin-bottom: 8px;
}

.wysiwyg-wrapper li::before {
  display: block;
  position: absolute;
  left: -25px;
  top: 9px;
  width: 8px;
  height: 8px;
  background-color: #f5d581;
  transform: rotate(45deg);
  content: "";
}

.wysiwyg-wrapper blockquote {
  box-sizing: border-box;
  width: 920px;
  margin: 50px auto;
  padding: 40px 92px;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #9f7303;
  border-top: 1px solid #f5d581;
  border-bottom: 1px solid #f5d581;
}

.page-main__image {
  width: 100%;
  height: auto;
  margin-bottom: 56px;
}

.review {
  padding-top: 81px;
  padding-bottom: 81px;
  background-color: #f4efe2;
}

.review-form {
  margin-bottom: 56px;
}

.review-form__grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px 16px;
}

.review__divider {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 56px;
  background-color: #f5d581;
}

.review-form .wpcf7-textarea {
  grid-column: 1/-1;
  resize: vertical;
}

.review-form .wpcf7-text {
  grid-column: 1/3;
}

.review-form .wpcf7-textarea,
.review-form .wpcf7-text {
  display: block;
  padding: 16px;
  padding-bottom: 21px;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: 1px solid #f5d581;
  border-radius: 8px;
}

.review-form .wpcf7 *::placeholder {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  opacity: 0.3;
}

.review-form .wpcf7-submit {
  grid-column: 1/2;
  padding: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9f7303;
  border: none;
}

.review-form .wpcf7-submit:hover {
  background-color: #856103;
}

.review-form .wpcf7-submit:active {
  background-color: #684c05;
}

.review-form .review-form__note {
  grid-column: 2/3;
  align-self: center;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.review__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.review__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 8px 24px;
  margin-bottom: 32px;
}

.review__item:last-child {
  margin-bottom: 0;
}

.review-image__wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
}

.review__item img {
  border-radius: 50%;
  object-fit: cover;
  text-indent: -100vw;
}

.review-name,
.review-comment {
  grid-column: 2/-1;
  margin: 0;
  padding: 0;
}

.review-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.review-comment {
  white-space: pre-line;
}
